@model LoginViewModel

<form asp-action="Login" class="mt-4 p-3 border rounded bg-light">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">User Name</label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <input type="submit" value="Login" class="btn btn-primary" style="width:150px"/>
    </div>
</form>